body{
    /* background-color: red; */
    background-color: rgb(240, 250, 251) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-image img{
    width: 99.4vw;
    height: 90px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    /* margin-top: -8px; */
    /* margin-left: -7px; */
    /* display: none; */
}

.search{
    width: 330px;
    height: 30px;
    /* background-color: purple; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    /* display: none; */

}

.search input{
    /* background-color: #D3EDEC ; */
    background-color: #FFFFFF ;
    width: 100%;
    height: 30px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #A1ECE7;
    text-align: center;
    /* display: none; */

}

#wrap{
    /* background-color: plum; */
    width: 82vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    /* display: none; */

}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 100%;
    margin: 0px 0px 40px 0px;
    box-sizing: border-box;
    padding: 5px 0px 15px 15px;
    /* padding-left: 15px; */
    box-shadow: 0px 10px 5px  rgb(217, 248, 250) ;
    /* display: none; */

}

.content:nth-child(1){
    border-left: 3px solid #0c9e90;
}

.content:nth-child(2){
    border-left: 3px solid #0c9e90;
}

.job-item{
    height: 65%;
    /* background-color: green; */
    box-sizing: border-box;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: column;
    /* display: none; */

}



.content-img{
    /* background-color: red; */
    width: 60px;
    height: 60px;
    padding: 0px;
    margin-top: -30px;
    /* padding: 12px 15px 0px 25px; */
    /* display: none; */

}

.content-img img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    /* display: none; */

}

.account-info{
    flex-direction: column;
    /* background-color: yellow; */
    height: 30%;
    padding: 5px 0px 5px 0px ;
    /* display: none; */

}

.name{
    display: flex;
    flex-direction: row;
    /* margin: 8px 8px 8px 0px; */
    margin-top: 0px;
    /* background-color: pink; */
    height: 70%;
    /* display: none; */

}

.name h2{
    font-size: 14px;
    /* padding-right: 10px; */
    margin-top: 1px;
    padding-right: 20px;
    color: #38a59a;
    box-sizing: border-box;
    /* background-color: palevioletred; */
    /* display: none; */

}

.name p{
    font-size: 13px;
    padding: 3px 5px;
    /* background-color: red; */
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
    font-weight: 600;
    padding-bottom: 5px;
    height: fit-content;
    width: fit-content;
    /* display: none; */


}

.name :nth-child(2){
    background-color: #38a59a;
    color: white;
}

.name :nth-child(3){
    background-color: #2B3635;
    color: white;
}

.title h3{
    /* background-color: red; */
    font-size: 14px;
    margin: 0px;
    color: #2B3635;
    padding: 5px 0px 5px 0px;
    /* display: none; */

}

.location{
    width: 94%;
    display: flex;
    /* background-color: purple; */
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    /* display: none; */

}

.location p{
    /* background-color: red; */
    margin: 7px 20px 7px 0px;
    font-size: 11px;
    font-weight: 600;
    color: #9CA4A2;
    /* display: none; */

}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    height: 35%;
    /* background-color: blueviolet; */
    box-sizing: border-box;
    align-self: flex-start;
    padding:  15px 0px 0px 0px;
    margin-left: 0px;
    text-align: center;
    /* display: none; */

}

.tags p{
    margin-bottom: 10px;
    font-size: 12px;
    background-color: rgb(236, 249, 250) ;
    color: #0c9e90;
    border-radius: 3px;
    padding: 5px;
    font-weight: 600;
    /* width: fit-content; */
    /* display: none; */

}

.hidden{
    display: none;
}
